<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <div class="hero-unit">
        <h2>What we are about</h2>
        <p>As we are a members only club everyone must join prior to skiing. This only takes a few minutes and can be done at your first visit. Please remember that we are a voluntary, none profit making organisation, so all money raised through membership is used for equipment, instructor training etc so everyone benefits. You will also receive discounts from various local sports shops.</p><p> The club holds sessions for both Juniors and Adults and covers the full spectrum of ability, from first timers to seasoned racers.
        Everyone is welcome to join the club to ski. If you are a beginner then please the check beginners section for more infomation on beginners lessons.</P>
      </div>

      <div class="hero-unit">
        <h4>Never skied before</h4>
            <p>We provide lessons through out the season to all of our club members including people who have never skied before. For complete beginners these blocks of lessons start approx. every three weeks -see the sessions page for more information.</p>
            <p>So if you are new to skiing and interested in joining the club then just turn up early on the starting date to enrole. See the FAQ page for more information.</p>
            <a class="btn btn-info" href="sessions" style="margin-right:10px">Sessions &raquo;</a> 
            <a class="btn btn-info" href="faq" >F.A.Q. &raquo;</a>
       </div>

      <div class="hero-unit">
        <h4>Membership information</h4>
          <h5>Annual Membership Fees </h5>
            <li>Junior Membership : £7.00</li>
            <li>Senior Membership : £15.00</li>
            <li>Family Membership : £30.00</li>
            <p>(Membership requires renewal at the start of each season in September)</p>
            <p>Joining is simple: just go down to the ski hut during session hours and speak to any one of the committee members or helpers. Or click here to see how to contact us.</p>
            <p><a class="btn btn-info" href="contact">Contact us &raquo;</a></p>
      </div>

      <div class="hero-unit">
        <h4>Experienced speed demons</h4>
        <p>All members of the ski club are eligible to race.
        It's a great way to improve your skiing so if you are interested in racing then contact Tony, or any member of the team, who will provide you with the information you need. Alternativly have a look at our racing team page</P>
         <p><a class="btn btn-info" href="team">Racing team &raquo;</a></p>
      </div>

      <div class="hero-unit">
        <h4>Fun friendly family</h4>
        <p>Occasionally we run family sessions so adults and kids can ski together. All skiers must be able to turn and stop safely to ski during these sessions. The dates can be viewed on the events page, along with other social activites that are arranged by our social secretary Jane.
        Note that during these sessions there will be no instruction.</P>
         <p><a class="btn btn-info" href="../events">Events &raquo;</a></p>
      </div>

      <hr>
        <footer>
          <a href="https://www.facebook.com/pages/The-Oval-Ski-Club/240654432678815?fref=ts"><img src="../assets/icon-facebook.png"/></a>
          <p>&copy; Company 2012</p>
        </footer>
      </hr>
    </div> 
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>
