<!DOCTYPE html>
<html lang="en">
 <body>
    <div class="container">
      <div class="hero-unit">
          <h3>Get in contact</h3>
          <h4>Email us</h4>
          <p>If you have a question or can’t find an answer your looking for on the site, then please send us an email and we’ll deal with it a.s.a.p.</P>
          <p>All enquiries : SkiEnquiries@OvalSkiClub.com</p>
        </div>
      <div class="hero-unit">
        <h3>Visit us</h3>
        <h4>Drop in for a chat</h4>
        <p>We are at the ski hut located towards the rear of the Oval Sports Centre, Bebington, Wirral, Merseyside. Please ask at the sports centre reception if you can’t find us.</p> 
        <p>We are open Saturday Mornings and Sunday Evenings throughout the ski season (see club sessions page for additional date information).</p>
        </div>
      <div class="hero-unit">
          <h3>By phone</h3>
          <p>John Wahlers (Chairman) : 0151 645 2452</p>
          <p>Belinda Dawson (Secretary) : 0151 342 9756</p>
          <p>Jane Croft (Secretary) : 0151 6084575</p>  
          <p>Tony McClave (Race Secretary) : t.b.c.</p>
         </div>
       </div>
      <div class="container-fluid">
         <h3> where we are</h3>
         <iframe
          src="https://maps.google.co.uk/maps?hl=en&q=the+oval+sports+centre&ie=UTF-8&ei=LGEUUa31LJHK0AWdhoAo&ved=0CAgQ_AUoAA &amp;output=embed" height="300"; width="300";>
        </div>
         <hr>
        <footer>
          <a href="https://www.facebook.com/pages/The-Oval-Ski-Club/240654432678815?fref=ts"><img src="../assets/icon-facebook.png"/></a>
          <p>&copy; Company 2012</p>
        </footer>
      </hr>
       </div>
  </body>
</html>
