<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <div id="OvalSkiClub" class="carousel slide">
        <div class="carousel-inner">

          <div class="item active">
            <img src="../assets/ski8.jpg" alt="" />
              <div class="carousel-caption">
                <p>Welcome to the Oval Ski club.</p>
              </div>
          </div>

          <div class="item">
            <img src="../assets/ski7.jpg" alt="" />
              <div class="carousel-caption">
                <p>Fresh powder.</p>
              </div>
          </div>

          <div class="item">
            <img src="../assets/ski6.jpg" alt="" />
              <div class="carousel-caption">
                <p>Big Air.</p>
              </div>
          </div>

          <div class="item">
            <img src="../assets/ski5.jpg" alt="" />
              <div class="carousel-caption">
                <p>Out to launch.</p>
              </div>
          </div>

          <div class="item">
            <img src="../assets/ski4.jpg" alt="" />
              <div class="carousel-caption">
                <p>Club holiday spot.</p>
              </div>
          </div>

          <div class="item">
            <img src="../assets/ski3.jpg" alt="" />
              <div class="carousel-caption">
                <p>A member of our racing team.</p>
              </div>
          </div>

          <div class="item">
            <img src="../assets/ski2.jpg" alt="" />
              <div class="carousel-caption">
                <p>Always time for one last run.</p>
              </div>
          </div>

          <div class="item">
            <img src="../assets/ski1.jpg" alt="" />
              <div class="carousel-caption">
                <p>Everyone comes to have fun.</p>
              </div>
          </div>
        </div>
          <a class="carousel-control left" href="#OvalSkiClub" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#OvalSkiClub" data-slide="next">&rsaquo;</a>
      </div>

    <div class="container">
      <div class="hero-unit">
        <h1>Hello there</h1>
        <p class="lead">
        The Oval skiing club is based at the dry ski slope, located towards the rear of the Oval Sports Centre, Bebington, Wirral. For more information on locality of the skiing club please visit the Contact Us page. We offer skiing tuition for all ages, an active social club promoting various events through out the year, and also a Ski Racing Team which all members are welcome to join. We are ideally located for the Wirral, Cheshire, Liverpool and Merseyside areas.</p>
          <div class="button" style="text-align:center">
          <p><a class="btn btn-primary btn-large "  href="../welcome/about">More about us &raquo;</a></p>
          </div>
      </div>
     <div class="container-fluid">
      <div style='width: 300px; height: 250px; background-image: url( http://vortex.accuweather.com/adcbin/netweather_v2/backgrounds/silver_300x250_bg.jpg ); background-repeat: no-repeat; background-color: #86888B;' ><div id='NetweatherContainer' style='height: 238px;' ><script src='http://netweather.accuweather.com/adcbin/netweather_v2/netweatherV2ex.asp?partner=netweather&tStyle=whteYell&logo=1&zipcode=EUR|UK|UK001|WALLASEY|&lang=uke&size=9&theme=silver&metric=1&target=_self'></script></div><div style='text-align: center; font-family: arial, helvetica, verdana, sans-serif; font-size: 11px; line-height: 12px; color: #FFFFFF;' ><a style='color: #FFFFFF' href='http://www.accuweather.com/world-index-forecast.asp?partner=netweather&locCode=EUR|UK|UK001|WALLASEY|&metric=1' >Weather Forecast</a> | <a style='color: #FFFFFF' href='http://www.accuweather.com/maps-satellite.asp' >Weather Maps</a> | <a style='color: #FFFFFF' href='http://www.accuweather.com/index-radar.asp' >Weather Radar</a>
    </div>
    </div>
    </div>
  </div>

      <hr>
        <footer>
          <a href="https://www.facebook.com/pages/The-Oval-Ski-Club/240654432678815?fref=ts"><img src="../assets/icon-facebook.png"/></a>
          <p>&copy; Company 2012</p>
        </footer>
      </hr>
    </div>

  <script src="js/jquery-1.9.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>$(document).ready(function(){$('carousel').carousel({interval: 3000})});</script>
</body>
</html>
